
  
  
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>

      <span> <a href="/">Visão Geral</a></span>
      <span> <a href="/gastos">Gastos</a></span>
      <span> <a href="/proventos">Proventos</a></span>
      <span> <a href="/balanco">Balanco</a></span>

      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>login</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  
 