.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background: whitesmoke;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.87);

}

.mat-toolbar-row, .mat-toolbar-single-row a{
  text-decoration: none;
}