<!-- <p>Olá ! {{user}}</p> -->

<p>Olá !</p>

<p> HIstorico Ultimos 3 mesmes </p>
<p>Sua saúde financeira é : </p>

<p>Adicionar Valores:</p>

<mat-form-field appearance="fill">
    <mat-label>Valor</mat-label>
    <input matInput type="number" class="example-right-align">
    <span matPrefix>R$&nbsp;</span>
  </mat-form-field>

  <button mat-button color="primary">1centavo</button>
  <button mat-button color="primary">-1centavo</button>
  
  <button mat-button color="primary">1 real</button>
  <button mat-button color="primary">-1 real</button>
  
  <button mat-button color="primary">10 reais</button>
  <button mat-button color="primary">-10 reais </button>
  
  <button mat-button color="primary">50 reais</button>
  <button mat-button color="primary">-50 reais </button>
  
  <button mat-button color="primary">100 reais</button>
  <button mat-button color="primary">-100 reais </button>
  
  <button mat-button color="primary">1000 reais</button>
  <button mat-button color="primary">-1000 reais </button>
  
  <button mat-button color="primary"> Adicionar </button>


  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>



<h4>Basic native select</h4>
<mat-form-field appearance="fill">
  <mat-label>Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>


<!-- nome: "Luiz",
ID: 1,
valorTransacao: -1000,
diaTransacao: 10,
mesTransacao: 10,
anoTransacao: 2020,
classificacaoTransacao: "educacao", -->