
.titulo{
    font-size: x-large;
    text-align: center;
}


.grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
  text-align: center;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.mat-raised-button{
    margin: 10px;
    width: 100px;
}